{% extends "layout.html.twig" %}
{% block stylesheet %}
	{{parent()}}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}
{% block title %}Jeu
{% endblock %}
{% block content %}
    <div class='d-flex flex-column align-items-center gap-4'>
        <h2 style='text-align:center; margin:20px auto 20px'>{{ game['name'] }}</h2>
        {% if inList %}
          <div>
            <form action="/descriptionGame?id={{ game['id'] }}" method="POST">
            <input class="btn btn-{{ reviewStatus[0] }}primary" type="submit" value="ðŸ‘" name="like" style="border-radius:50%;">
            <input class="btn btn-{{ reviewStatus[1] }}primary" type="submit" value="ðŸ‘Ž" name="dislike" style="border-radius:50%;">
            </form>
          </div>
        {% endif %}
        <img src="/assets/images/pictures_game/covers/{{ game['picture'] }}" style="max-width: 25rem; max-height: 12rem;"alt={{ game['name'] }}>
        <div class="d-flex flex-row gap-1">
            {% for tag in tags %}
                <span class="badge bg-primary">{{ tag['name'] }}</span> 
            {% endfor %}
        </div>    
        <p style="max-width: 23rem; text-align: justify;">{{ game['description'] }}</p>
        <div class="d-flex flex-row gap-5 align-items-center">
            <p style="margin: 0; text-align:center; font-size: 1rem;">
                Reviews: <q style="color: {{ like[1] }};">{{ like[0] }}</q>
            </p>
            <p style="margin: 0; max-width: 10rem;">
                Date de Sortie: <strong>{{ game['date_release'] }}</strong>
            </p>
        </div>    
        {% if not inList %}
          <a href="/descriptionGame?id={{ game['id'] }}&gameId={{ game['id'] }}">
            <button type="button" class="btn-lg btn-primary" id="liveAlertBtn"data-toggle="button" aria-pressed="false" autocomplete="off" style='max-width:10rem;'>
                ajouter
            </button>
          </a>
        {% endif %}
    </div>
{% endblock %}
