{% extends 'layout.html.twig' %}

{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/style_homepage.css">
{% endblock %}

{% block content %}
	<div class="trending">
		<div class="h1Tendance">
			<h1>Tendance du Moment</h1>
		</div>
		<div class="carrousel">
			{% for bestGame in bestGamesLimitBy3 %}
				<div class="carrouselCard" id="c{{bestGame['id']}}">
					<img src="/assets/images/pictures_game/covers/{{bestGame['picture']}}">
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="title">
		<h1>Toutes les catégories</h1>
	</div>
	<div class="cards">
		<div class="row gap-3 justify-content-center">
			{% for card in cards %}
				<div class="card">
					<div class="skewed">
						<img src={{ card['picture'] }} alt={{ card['title'] }}>
					</div>
					<div class="content">
						<h2>{{ card['name'] }}</h2>
						<a href="/category?id={{ card['id'] }}">
							<button>Plus d'infos</button>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
