{% extends 'layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/style_homepage.css">
{% endblock %}

{% block content %}
    <div class="trending">
        <h1>Tendance du Moment</h1>
        <img src={{ picture }} alt="Trending">
    </div>
    <h1>Les Genres</h1>
    <div class="cards">
        <div class="row gap-3 justify-content-center">
        {% for card in cards %}
            <div class="col-auto">
                <h2>{{ card['name'] }}</h2>
                <div class="imagehomepage">
                    <a href="/category?id={{ card['id'] }}"><img src={{ card['picture'] }} alt={{ card['title'] }}></a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>     
{% endblock %}
