{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - S'enregistrer
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <form action="" method="post" class="row">
            <div class="row mb-3">
                <label for="userMail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="userMail" id="userMail">
                </div>
                <div class="col-sm-8 align-items-center{{ classError }}">{{ errors['userMail'] }}</div>
            </div>
            <div class="row mb-3">
                <label for="nickname" class="col-sm-2 col-form-label">Pseudo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="nickname" id="nickname">
                </div>
                <div class="col-sm-8 align-items-center{{ classError }}">{{ errors['nickname'] }}</div>
            </div>
            <div class="row mb-3">
                <label for="passwordUser" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="passwordUser" id="passwordUser">
                </div>
                <div class="col-sm-8 align-items-center{{ classError }}">{{ errors['passwordUser'] }}</div>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-primary m-auto col-3" value="Sign in">
            </div>
            <div class="text-center col-sm-8 align-items-center{{ classError }}">{{ pseudoAlreadyUsed }}</div>
        </form>
    </div>
{% endblock %}