{% extends 'layout.html.twig' %}

{% block stylesheet  %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/category.css">
{% endblock %}

{% block content %}

	{% for gameInfo in gameInfos %}
		<div class="wrapper">
			<div class="product-text">

				<h2>{{ gameInfo.name }}</h2>
			</div>
			<section class="body">
				<div class="leftContent">
					<div class="product-img">
						<img src="/assets/images/pictures_game/covers/{{ gameInfo.picture }}" alt={{ gameInfo.name }}>
					</div>
				</div>
				<div class="rightContent">

					<div class="product-price-btn">
						<div class="buttonlike">
							<p>avis negatif</p>
							<button class="dislike">
								<i class="fa fa-thumbs-o-down" aria-hidden="true">%</i>
							</button>
							<p>avis positif</p>
							<button class="like">
								<i class="fa fa-thumbs-o-up" aria-hidden="true">%</i>
							</button>

						</div>
						<a href='descriptionGame?id={{ gameInfo.game_id }}'>
							<button type="button">Plus d'infos</button>
						</a>
					</div>
				</div>
			</section>
			<div class="separation"></div>
		{% endfor %}
	</div>
{% endblock %}
