{% extends 'layout.html.twig' %}

{% block stylesheet  %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/category.css">
{% endblock %}

{% block content %}



<ul>
		<div class="titleCategory">
			<p>
				{{ category.name }}
			</p>
		</div>

		{% include 'Category/_search_bar.html.twig' %}

	

	{% for gameInfo in gameInfos %}
	<section class="Content">
	<div>
	<img src="" alt="">
		<section class="leftContent">
			<li>
						
				<div class="imgGameCategory">
					<img src="/assets/images/pictures_game/covers/{{ gameInfo.picture }}" alt={{ gameInfo.name }}>
				</div>
		</section>

				
		<section class="rightContent">
				<a href='descriptionGame?id={{ gameInfo.game_id }}'<div class="titleGame">
					<p>
						{{ gameInfo.name }}
					</p>
				</div>
				</a>
				<div class="Mylist_opinion">
					
						<p>% positive</p>
						<p>% negative</p>
				</div>
				<button class="buttonGameCategory" type="submit">Ajouter à ma liste</button>
					
			</li>
		</section>
	</section>
	{% endfor %}		
</ul>

{% endblock %}
