{% extends 'layout.html.twig' %}

{% block stylesheet  %}
	{{parent()}}
	<link rel="stylesheet" href="/assets/css/List_my_games.css">
{% endblock %}
{% block content %}
	<section class="SearchBarMyGames">
		<div class="searchBar">
			{% include 'ListMyGames/_Search_Bar_List_My_Games.html.twig' %}
		</div>
		<div class="tags">
			<div>
				<a href="{{ path }}&tags=action" class="tags__label">Action</a>
				<a href="{{ path }}&tags=aventure" class="tags__label" for="aventure">Aventure</a>
				<a href="{{ path }}&tags=RPG" class="tags__label" for="RPG">RPG</a>
			</div>
			<div>
				<a href="{{ path }}&tags=simulation" class="tags__label" for="simulation">Simulation</a>
				<a href="{{ path }}&tags=strategie" class="tags__label" for="strategie">Strategie</a>
				<a href="{{ path }}&tags=sport_course" class="tags__label" for="sport_course">Sport & Course</a>
			</div>
		</div>
	</section>
	<div class="TitleYourList">
		{% if userList %}
			<p>Voici la liste de jeu de {{ userList }} !</p>
		{% else %}	
			<p>Voici ta liste de jeu {{link.username}} !</p>
		{% endif %}
	</div>
	<section class="mobile">
		{% for gameByUser in gamesByUser %}
			<div class="a-box">
				<div class="img-container">
					<div class="img-inner">
						<div class="inner-skew">
							<a href="/descriptionGame?id={{ gameByUser['id'] }}"><img src="/assets/images/pictures_game/covers/{{ gameByUser.picture }}" alt={{ gameByUser.name }}></a>
						</div>
					</div>
				</div>
				<div class="text-container">
					<h3>{{gameByUser['name']}}</h3>
				</div>
			</div>
		{% endfor %}
	</section>
	<section class="desktop">
		{% for gameByUser in gamesByUser %}
			<div class="image">
				<figure>
					<a href="/descriptionGame?id={{ gameByUser['id'] }}"><img class="imgMyGame" src="/assets/images/pictures_game/covers/{{ gameByUser.picture }}" alt={{ gameByUser.name }}></a>
					<figcaption>{{gameByUser['name']}}
					</figcaption>
				</figure>
			</div>
		{% endfor %}
	</section>
{% endblock %}
